apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: authentik-secrets
  namespace: authentik
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: vault-backend
    kind: ClusterSecretStore
  target:
    name: authentik-secrets
    creationPolicy: Owner
  data:
    - secretKey: secret-key
      remoteRef:
        key: kubernetes/authentik
        property: secret-key
    - secretKey: postgres-password
      remoteRef:
        key: kubernetes/authentik
        property: postgres-password
